#alert-bar-msg{
	padding: 1em;
	background: #fff;
	color: #000;
	opacity: 1;
}
#alert-bar-msg:after{
	content: '';
	display: block;
	clear: right;
}
#alert-bar-msg .x {
	border: 1px solid;
    padding: 0 0.4em 0.1em;
    border-radius: 3px;
}

/*Hide Box on Alert Bar*/
#hide-btn { float: right; cursor: pointer; border-radius:3px; }
#hide-btn span { display:inline-block; }